<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
        <script src="js/html5.js">
        </script>
    <![endif]-->
</head>

<body>
    <div class="bg" :height="800" width="1200px">
        <div class="img_box">
            <video src="./img/ship.mp4" muted autoplay loop :width="fullWidth + 'px'" />
        </div>
    </div>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div class="logo_box">
                    <h3>
                        船舶区块链应用系统
                    </h3>
                    <form action="#" name="f" method="post">
                        <div class="input_outer">
                            <span class="u_user">
                            </span>
                            <input name="logname" class="text" style="color: #FFFFFF !important" type="text"
                                placeholder="请输入账户">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer">
                            </span>
                            <input name="logpass" class="text"
                                style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                                type="password" placeholder="请输入密码">
                        </div>
                        <div class="mb2">
                            <a class="act-but submit" href="javascript:;"
                                style="background-color: darkgrey; color: #FFFFFF"
                                onclick="location.assign('http://localhost:8080/#/home')">
                                登录
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/TweenLite.min.js">
    </script>
    <script src="js/EasePack.min.js">
    </script>
    <script src="js/demo-1.js">
    </script>
    <script>

    </script>
    <style>
        .bg {
            padding: 0;
            margin: 0;
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        .bg .img_box {
            width: 100%;
            height: 100%;
        }

        .bg .img_box img {
            position: fixed;
            /* 固定图片位置 */
        }
    </style>
</body>

</html>